body {
    background-color: #fafafa;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

#calculator {
    width: 350px;
    height: 610px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#display {
    width: 325px;
    height: 190px;
    background-color: #EBEFFA;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

#keys {
    width:320px;
}

.btn {
    width: 70px;
    height: 70px;
    margin: 3px;
    border-radius: 50%;
    border: none;
    background-color: rgb(248, 249, 253);
    color: #011D35;
    font-size: 2.2rem;
    transition: background-color 0.5s ease;
    transition: border-radius 0.3s ease;
}

.zero {
    width: 150px;
    border-radius: 50px;
}

.operator {
    background-color: rgb(195, 231, 255);
}

.clear {
    background-color: rgb(195, 238, 208);
    font-size: 1.5rem;
}

.all-clear {
    background-color: rgb(195, 238, 208);
    width: 150px;
    border-radius: 50px; 
    font-size: 2rem;
}

.equals {
    background-color: rgb(211, 227, 253);
}

.btn:hover {
    background-color: rgb(222, 225, 235);
    border-radius: 25px;
}

.operator:hover {
    background-color: rgb(132, 178, 224);
}
  
.clear:hover {
    background-color: rgb(149, 213, 165);
}

.all-clear:hover {
    background-color: rgb(149, 213, 165);
}
  
.equals:hover {
    background-color: rgb(162, 185, 225);
}

.output {
    color: #011D35;
    font-size: 5rem;
    padding: 15px;
    border-radius: 25px;
    height: 100px;
    width: 300px;
    text-align: end;
    overflow: hidden;
}
